@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet');

.all-page {
  padding: 0px;
  background: #ffffff;
  display: inline-flex;
}

aside {
  width: 220px;
  height: 180vh;
  background: #ffffff;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
}

.bi-list {
  font-size: 40px;
  padding-left: 8px;
  padding-right: 8px;
  cursor: pointer;
}

#small-screen-menu {
  display: none;
  background: hsl(21, 81%, 96%);
  height: 68px;
  z-index: 1;
}

#small-screen-menu input[type="checkbox"] {
  display: none;
}

#small-screen-menu .navbar {
  padding-top: 0px;
}

#small-screen-menu nav {
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
  left: -230px;
  background-color: #ffffff;
  width: 220px;
}

#small-screen-menu nav .navbar-nav {
  height: 200vh;
}

#small-screen-menu input[type="checkbox"]:checked ~ nav {
  transform: translateX(230px);
}
.small-screen-menu-logo {
  width: 220px;
  height: 258px;
  background-image: url("../img/dewey-4.png");
}
.side-bar {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0px;
  height: 536px;
}

.event-name {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: 35px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #ffffff;
}
.content {
  background: linear-gradient(180deg, #ffb354 0%, #ee7a3a 100%);
  padding-top: 15px;
  padding-bottom: 5px;
  width: 220px;
  height: 68px;
}

.menu-logo {
  width: 220px;
  height: 258px;
  margin-top: 540px;
  margin: 0px 0px;
  background-image: url("../img/dewey-4.png");
}

#apresentaition-menu,
#committee-menu,
#author-menu,
#themes-menu,
#works-menu,
#contact-menu {
  border-bottom: 1px solid #908e8e;
  width: 220px;
  height: 33px;
}

.navbar-nav a {
  font-family: "Quicksand";
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 19px;
  color: #725c5c;
  text-decoration: none;
  padding-bottom: 7px;
  padding-top: 7px;
  padding-left: 20px;
  width: 220px;
}

.navbar-nav a:hover {
  background: #fdf1eb;
}
.navbar-nav a:active,
#works-menu {
  background: #fdf1eb;
  border-left: 5px solid #ed7839;
}

.container-content {
  display: block;
  width: 1299px;
  height: 160vh;
  /* ################
                               teste 
                                           ##################
  border: 1px solid black;*/
}

header {
  width: 100%;
  height: 68px;
  background: #fdf1eb;
  display: inline-flex;
  padding-left: 0px;
}

#initial-text {
  width: 80%;
  display: block;
  padding-left: 45px;
}

#theme-text {
  position: relative;
  top: -2px;
  width: 100%;
  height: 16px;
  padding-top: 5px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  color: #725c5c;
}

#title {
  position: relative;
  max-width: 1200px;
  height: 26px;
  bottom: 12px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  color: #725c5c;
}

#post-id {
  position: relative;
  width: 100%;
  height: 16px;
  top: -25px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  color: #725c5c;
}
#btn-div {
  width: 30%;
  display: inline-flex;
}

#language-button {
  min-width: 100px;
  height: 34px;
  border: 1px solid #cccccc;
  box-sizing: border-box;
  border-radius: 3px;
  padding: 3px;
  margin: 17px;
  text-align: center;
}

#linguage {
  border: none;
  background-color: #fdf1eb;
  font-size: 12px;
}

#login {
  display: flex;
  margin-top: 6px;
  padding: 10px;
  padding-right: 0px;
  margin-right: 0px;
}

.login-texts {
  width: 100%;
}

#greetings {
  height: 18px;
  font-family: "Quicksand";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  text-align: right;
  color: #333333;
}

#email {
  font-family: "Quicksand";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;
  text-align: right;
  color: #333333;
  text-align: right;
  width: 100%;
}

.login-images {
  position: relative;
  margin: 3px;
  width: 30px;
  height: 30px;
  margin-right: 45px;
}

#profile-image {
  position: absolute;
  width: 30px;
  height: 30px;
  background: #f5f5f5;
  box-sizing: border-box;
  border-radius: 50%;
  background-image: url("../img/women-image.png");
}

#notification-image {
  position: absolute;
  background: #f85959;
  border-radius: 10px;
  right: -12px;
  height: 12px;
  width: 12px;
  z-index: 1;
}

#notification-number {
  width: 12px;
  height: 12px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 10px;
  line-height: 12px;
  padding-left: 3px;
  letter-spacing: -0.02em;
  color: #ffffff;
}

@media screen and (max-width: 768px) {
  #small-screen-menu {
    display: inline;
  }
  aside {
    display: none;
  }
  #small-screen-menu {
    width: 48px;
    height: 70px;
  }
}

.page-content {
  display: block;
  padding-right: 45px;
  padding-left: 45px;
}

#content-title {
  display: inline-flex;
  width: 100%;
  padding-top: 25px;
}

.work-title {
  width: 80%;
}

.work-title h2 {
  height: 54px;
  width: 90%;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 900;
  font-size: 20px;
  line-height: 25px;
  letter-spacing: 0.05em;
  color: #ed7839;
}

#work-interaction {
  width: 30%;
  text-align: right;
}

#work-interaction img {
  padding-left: 15px;
  height: 2.1rem;
  cursor: pointer;
}
#comment-work p {
  margin-top: 8px;
  height: 25px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 25px;
  text-align: right;
  letter-spacing: 0.05em;
  word-spacing: 2px;
  color: #ed7839;
}

.video-content {
  position: relative;
}
.container-video {
  position: relative;
  width: 783px;
  height: 439px;
  background-image: url("/img/dewey-1.png");
}

.container-video img {
  position: absolute;
  width: 783px;
  height: 439px;
  left: 0px;
  top: 0px;
  background: rgba(141, 53, 6, 0);
  border-radius: 3px;
}

.detail-title {
  background: #fdf1eb;
  border: 1px solid #ececec;
  box-sizing: border-box;
  border-radius: 3px 3px 0px 0px;
}

.detail-title p {
  width: 212px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 25px;
  align-items: center;
  color: #4e4e4e;
  padding-top: 10px;
  padding-left: 10px;
}

.container-video h3 {
  position: absolute;
  width: 734px;
  height: 54px;
  left: 32px;
  top: 35px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 900;
  font-size: 24px;
  line-height: 25px;
  letter-spacing: 0.05em;
  color: #ffffff;
}

.master-round {
  position: absolute;
  width: 84px;
  height: 86px;
  left: 31px;
  bottom: 52px;
  background-image: url("/img/master-end-round.png");
}

#author {
  position: absolute;
  height: 36px;
  left: 134px;
  bottom: 78px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 900;
  font-size: 34px;
  line-height: 25px;
  letter-spacing: 0.05em;
  color: #ffffff;
}

#author-detail {
  position: absolute;
  height: 27px;
  left: 136px;
  bottom: 55px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 900;
  font-size: 20px;
  line-height: 25px;
  letter-spacing: 0.05em;
  color: #ffffff;
}
.video-detail {
  position: absolute;
  width: 325px;
  height: 439px;
  right: 0px;
  top: 0px;
  border: 1px solid #ececec;
  box-sizing: border-box;
  border-radius: 3px;
}
.video-detail-content {
  display: flex;
  position: relative;
}

.detail-text p {
  width: 255px;
  height: 330px;
  font-family: "Quicksand";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 135%;
  letter-spacing: 0.02em;
  color: #5c5c5c;
  margin: 30px;
}

.detail-text span {
  font-weight: 500;
  font-size: 12px;
  color: #827c7c;
}

.detail-scroll {
  position: relative;
  width: 4px;
  height: 330px;
  right: 7px;
  top: 30px;
}

.up-scroll {
  position: absolute;
  width: 4px;
  height: 160px;
  left: 0px;
  top: 0px;
  background: #bfbfbf;
  border-radius: 5px;
  z-index: 1;
}

.down-scroll {
  position: absolute;
  width: 4px;
  height: 330px;
  left: 0px;
  top: 0px;
  background: #e7e7e7;
  border-radius: 5px;
}

/* CONTAINER ABSTRACT */

.container-abstract {
  width: 100%;
  max-height: 533px;
  margin-top: 30px;
  border: 1px solid #ececec;
  box-sizing: border-box;
  border-radius: 3px;
}

.abstract-head {
  width: 100%;
  height: 47px;
  background: #fdf1eb;
  border: 1px solid #ececec;
  box-sizing: border-box;
  border-radius: 3px 3px 0px 0px;
}

.abstract-head p {
  width: 100%;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 25px;
  display: flex;
  align-items: center;
  color: #4e4e4e;
  padding: 10px 15px;
}

.abstract-content {
  width: 100%;
  font-family: "Quicksand";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 23px;
  letter-spacing: 0.02em;
  color: #5c5c5c;
  flex: none;
  order: 0;
  align-self: stretch;
  flex-grow: 0;
  margin: 0px 0px;
  padding: 15px;
  display: -webkit-box;
  text-overflow: ellipsis;
  -webkit-box-orient: vertical;
  cursor: pointer;
}

.abstract-content p {
  font-family: 'Quicksand';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 23px;
  letter-spacing: 0.02em;
  color: #5C5C5C;
  /* Inside auto layout */
  flex: none;
  order: 0;
  align-self: stretch;
  flex-grow: 0;
  margin: 0px 0px;
}

#showText {
  display: none;
}

.abstract-content strong {
  color: #ED7839;
  font-size: larger;
}